.pending {
    width: 190px;
    height: 52px;
    border-radius: 4px;
    display: block;
}

.active {
    display: block;
    width: 190px;
    height: 52px;
    border-radius: 4px;
    background-color: #EFE3FF;
    margin-bottom: 8px;
    margin-top: 8px;
}

.general {
    display: block;
    width: 190px;
    height: 52px;
    transition: all 0.6s;
}

.general:hover {
    transition: all 0.6s;
    transform: translate(10px);
}

@media (max-width: 1024px) {
    .general:hover {
        transform: none;
    }
}
