.banner {
    grid-column: 2;
    justify-self: end;
    margin-right: 70px;
}

.changeMargin {
    margin-right: 100px;
}

.bannerPositionLeft {
    margin-right: 0;
    justify-self: start;
}

.flexContainer {
    margin-bottom: 56px;
    grid-column: 2;
    grid-row: 3;
}

.imageColumn {
    width: 350px;
    height: 275px;
    margin-top: 12px;
    grid-row: 3;
    grid-column: 3;
}

.imagePositionTop {
    width: 281px;
    height: 214px;
    margin-top: 0;
    grid-row: 1;
}

.buttonsContainer {
    margin-bottom: 80px;
    grid-row: 4;
    grid-column: 2;
    display: flex;
    justify-content: end;
    margin-left: 70px;
}

.buttonsContainerPositionLeft {
    margin-left: 0;
    justify-content: start;
}

.buttonCancel {
    width: 190px;
    height: 50px;
}

@media (max-width: 1520px) {
    .imageColumn {
        display: none;
    }

    .buttonsContainer {
        margin-left: 0;
        justify-content: center;
    }

    .banner {
        justify-self: center;
        margin-right: 0;
    }
}