.label {
    color: var(--main-text-color);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.banner {
    grid-column: 2;
    justify-self: end;
    margin-right: 17px;
}

.changeMargin {
    margin-right: 55px;
}

.title {
    color: var(--main-text-color);
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
    /*margin: 0 0 40px 0;*/
    margin: 0;
}

.flexContainer {
    width: 1015px;
    margin: 0 auto 56px auto;
    grid-column: 2;
    grid-row: 3;
    /*display: grid;
    grid-template-columns: 48px 665px 350px;*/
}

/*.textFieldColumn {
    grid-column: 2;
}*/

.textFieldColumn p {
    width: 200px;
    color: rgba(0, 0, 0, 0.50);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin: 0 0 13px 0;
    border-bottom: 1px rgba(0, 0, 0, 0.50) solid;
}

.imageColumn {
    margin-top: 12px;
    grid-row: 3;
    grid-column: 3;
}

.buttonsContainer {
    width: 586px;
    margin-bottom: 80px;
    grid-row: 4;
    grid-column: 2;
    display: flex;
    justify-content: end;
    margin-left: 70px;
}

.buttonCancel {
    width: 190px;
    height: 50px;
}