.todolists {
    margin-top: 60px;
}

.todosList {
    display: flex;
    justify-content: center;
}

.title {
    font-size: 18px;
    font-weight: 700;
    margin-left: 210px;
}

.todo {
    width: 250px;
    height: 100px;
    margin-right: 30px;
    text-decoration: none;
}