.todo {
    text-decoration: none;
    background-color: rgba(32, 33, 35, 1.00);
    color: rgb(142, 142, 160);
    transition: 0.5s;
}

.icon {
    color: rgb(236, 236, 241);
}

.headerContainer {
    width: 1110px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.title {
    color: var(--second-text-color);
    text-decoration: none;
    border: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    width: 67px;
    margin: 0 auto;
    grid-column: 2;
    align-self: center;
}

.link {
    text-decoration: none;
    width: 101px;
    justify-self: end;
    display: flex;
    height: 60px;
    align-items: center;
}

.menu {
    width: 420px;
    height: 100%;
    background: linear-gradient(186deg, #48289B -0.63%, rgba(82, 28, 225, 0.60) 58.84%, #412589 83.63%);
}
