.todo {
    text-decoration: none;
    background-color: rgba(32, 33, 35, 1.00);
    color: rgb(142, 142, 160);
    transition: 0.5s;
}

.icon {
    color: rgb(236, 236, 241);
}

.headerContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.title {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    border: none;
    font-size: 18px;
}
