.task {
    width: 100%;
    cursor: pointer;
    transition: all 0.7s;
    padding-top: 10px;
    padding-bottom: 10px;
}

.openTaskRedactorStyles {
    width: 100%;
    cursor: pointer;
    transition: all 0.7s;
    padding-top: 10px;
    padding-bottom: 10px;
}

.taskCompleted {
    width: 100%;
    cursor: pointer;
    transition: all 0.7s;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 0.5;
    border-radius: 4px;
}

.taskCompletedDark {
    background-color: rgba(255, 255, 255, 0.09);
}

.taskCompletedLight {
    background-color: rgba(235, 236, 240, 1.00);
}

.task:hover {
    transition: all 0.7s;
    background-color: rgba(244, 245, 246, 1.00);
    border-radius: 4px;
    box-shadow: 1px 1px 5px 0 black;
}

.taskDarkMode:hover {
    transition: all 0.7s;
    background-color: rgba(255, 255, 255, 0.09);
    border-radius: 4px;
}

.checkboxContainer {
    width: 30px;
}

.flexContainer {
    display: grid;
    grid-template-columns: 50px 795px 32px;
    height: 56px;
}

.flexContainerActive {
    display: grid;
    grid-template-columns: 50px 795px 32px;
    height: 56px;
}

.empty {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.emptyOpenMenu {
    text-align: start;
}

.taskRedactor {
    border: 1px #2a3b5a solid;
    border-radius: 10px;
    padding: 7px 10px 10px 10px;
    width: 100%;
}

.settings {
    display: flex;
}

.groupSettingsContainer {
    display: flex;
}

.groupSettingsButtons {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 1370px) {
    .flexContainerActive {
        grid-template-columns: 5.5% 94.5% 0%;
    }
}

@media (max-width: 1120px) {
    .flexContainerActive {
        grid-template-columns: 7.5% 91.5% 1%;
    }
}

@media (max-width: 950px) {
    .flexContainer {
        grid-template-columns: 7% 88% 5%;
    }
}

@media (max-width: 730px) {
    .flexContainer {
        grid-template-columns: 8.5% 85% 6.5%;
    }

    .flexContainerActive {
        grid-template-columns: 8.5% 90.5% 1%;
    }

    .groupSettingsContainerActive {
        display: block;
    }
}

@media (max-width: 550px) {
    .flexContainer {
        grid-template-columns: 10% 89% 1%;
    }

    .flexContainerActive {
        grid-template-columns: 10% 89% 1%;
    }

    .groupSettingsContainer {
        display: block;
    }
}

@media (max-width: 370px) {
    .flexContainer {
        grid-template-columns: 14% 85% 1%;
    }

    .flexContainerActive {
        grid-template-columns: 14% 85% 1%;
    }
}



