.task {
    width: 100%;
    border-bottom: 1px rgba(235, 236, 240, 1.00) solid;
    transition: 0.5s;
    cursor: pointer;
}

.task:hover {
    background-color: rgba(235, 236, 240, 1.00);
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;
    transition: 0.5s;
}

.taskCompleted {
    background-color: rgba(235, 236, 240, 1.00);
    opacity: 0.5;
    border-radius: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.container {
    padding: 15px;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
}

.title {
    display: flex;
    align-items: center;
}

.text {
    font-size: 16px;
    font-weight: 500;
}

.empty {
    font-size: 18px;
    font-weight: 700;
    color: #2a3b5a;
}

.description {
    font-size: 13px;
    margin-left: 42px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 280px;
    height: 1.2em;
    white-space: nowrap;
}

.taskRedactor {
    border: 1px #2a3b5a solid;
    border-radius: 10px;
    padding: 7px 10px 10px 10px;
    width: 100%;
}

.settings {
    display: flex;
}

.groupSettingsContainer {
    display: flex;
}

.groupSettingsButtons {
    display: flex;
    justify-content: flex-end;
}


