.container {
    width: 100%;
    height: 60px;
    background-color: var(--main-bg-color);
    padding: 18px 0 18px 165px;
}

.container p {
    margin: 0 auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    font-style: normal;
    color: var(--second-text-color);
}

@media (max-width: 975px) {
    .container {
        padding: 18px 0 18px 0;
        display: flex;
    }
}