.task {
    width: 100%;
    background-color: #F4F2FF;
    border-radius: 5px;
    margin-bottom: 10px;
}

.container {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.text {
    font-size: 18px;
    font-weight: 500;
}

.empty {
    font-size: 18px;
    font-weight: 500;
}