.confirmation {
    padding: 10px 15px 10px 15px;
}

.confirmation p {
    font-size: 18px;
    font-weight: 700;
}

.containerButton {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
}