.buttonGroup {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.settings {
    display: flex;
}

@media (max-width: 730px) {
    .settingsWhenOpenMenu {
        display: block;
    }
}

@media (max-width: 550px) {
    .settings {
        display: block;
    }
}
