.header {
    display: flex;
    justify-content: space-between;
    padding: 2px 10px 2px 10px;
}

.header p {
    font-size: 14px;
    font-weight: 700;
    margin: 2px 0 0 4px;
}

.todoTitle {
    display: flex;
    align-items: center;
}

.taskBody {
    width: 100%;
}

.taskBodyContainer {
    display: flex;
    margin-bottom: 10px;
}

.taskRedactor {
    border: 1px #2a3b5a solid;
    border-radius: 10px;
    padding: 7px 10px 10px 10px;
    width: 100%;
}

.taskName {
    margin: 3px 0 0 0;
    font-weight: 500;
}

.description {
    font-size: 16px;
    margin: 15px 0 0 0;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.settingsTaskEditor {
    min-width: 220px;
    min-height: 100%;
    padding: 10px 10px 10px 20px;
}