.taskBody {
    width: 100%;
}

.taskBodyContainer {
    display: flex;
    margin-bottom: 10px;
}

.checkboxContainer {
    min-width: 30px;
    padding-top: 7px;
}

.taskRedactor {
    border: 1px #2a3b5a solid;
    border-radius: 10px;
    padding: 7px 10px 10px 10px;
    width: 100%;
}

.containerText {
    display: block;
}

.taskName {
    font-size: 24px;
    margin: 3px 0 0 0;
    font-weight: 500;
    cursor: pointer;
}

.description {
    font-size: 16px;
    margin: 15px 0 0 0;
    cursor: pointer;
    max-height: 340px;
    overflow: auto;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.settingsTaskEditor {
    min-width: 220px;
    min-height: 100%;
    padding: 10px 10px 10px 20px;
}

.dateAdded {
    margin-top: 210px;
}

@media (max-width: 740px) {
    .settingsTaskEditor {
        min-width: 130px;
    }

    .dateAdded {
        margin-top: 100px;
    }
}

@media (max-width: 640px) {
    .description {
        max-height: 245px;
        overflow: auto;
    }

    .dateAdded {
        margin-top: 10px;
    }
}