._btnAddTask {
    width: 200px;
    height: 50px;
    background-color: rgba(180, 192, 204, 0.5);
    transition: 0.5s;
    border-radius: 4px;
}

.btnAddTask {
    width: 100%;
    border-radius: 4px;
    transition: 0.5s;
}

.btnAddTask:hover {
    background-color: #7f8b9d80;
    transition: 0.5s;
}

.btnAddDescription {
    transition: 0.5s;
    border-radius: 4px;
}

.btnAddDescription:hover {
    background-color: #7f8b9d80;
    transition: 0.5s;
}