.mistakeContainer {
    display: flex;
    align-items: center;
}

.mistake {
    color: #EB2525;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
}