.todolist {
    display: flex;
    flex-direction: column;
    width: 877px;
}

.title {
    color: var(--main-text-color);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    margin: 0 0 42px 0;
    display: flex;
    justify-content: center;
}

.titleContainer h2 {
    color: #2a3b5a;
    margin-left: 5px;
    font-size: 16px;
}

.headerContainer {
    display: flex;
    justify-content: end;
}


