.todolistContainer {
    width: 877px;
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
}

.todolistContainerActive {
    width: 877px;
    display: grid;
    grid-template-columns: 96% 4%;
    justify-items: center;
}

.todolist {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.title {
    color: var(--main-text-color);
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 54px;
    margin: 0 0 42px 0;
    justify-self: center;
}

.titleActive {
    margin: 0 0 40px 0;
    justify-self: start;
}

.titleContainer h2 {
    color: #2a3b5a;
    margin-left: 5px;
    font-size: 16px;
}

.filterTaskContainer {
    justify-self: end;
}

.filterTaskContainerActive {
    margin-top: 10px;
}

@media (max-width: 1370px) {
    .todolistContainerActive {
        width: 850px;
    }
}

@media (max-width: 1330px) {
    .todolistContainerActive {
        width: 677px;
    }
}

@media (max-width: 1130px) {
    .todolistContainerActive {
        width: 577px;
    }
}

@media (max-width: 1120px) {
    .todolistContainerActive {
        width: 477px;
    }
}

@media (max-width: 950px) {
    .todolistContainer {
        width: 682px;
    }
}

@media (max-width: 730px) {
    .todolistContainer {
        width: 482px;
    }

    .todolistContainerActive {
        width: 400px;
    }
}

@media (max-width: 550px) {
    .todolistContainer {
        width: 350px;
    }

    .todolistContainerActive {
        width: 330px;
    }
}


