.todolist {
    display: flex;
    flex-direction: column;
    width: 800px;
}

.titleContainer {
    display: flex;
    align-items: center;
}

.titleContainer h2 {
    color: #2a3b5a;
    margin-left: 5px;
    font-size: 16px;
}


